<!DOCTYPE html>
<html>
    <head>
        <title>Sign in </title>
        <link rel="stylesheet" href="./MNSHub_files/bootstrap.min.css"></link>
        <!-- customization  -->
		<link href="./MNSHub_files/style.css" rel="stylesheet"/>
    </head>
    <body>
		<div class="container">
		    <nav class="navbar">
		      <div class="navbar-header">
		        <h2 class="hidden-print">
		          <a href="/"><img src="./MNSHub_files/mndhubLogo.png" class="img-responsive logo-image" alt="Webvanta - Web &amp; Mobile Solutions"/>
		          </a>
		        </h2>
		      </div>
		    </nav>
		    <div id="main-content" class="main-content">
		    	<div class="row">
		    		<div class="col-xs-12">
		    			<div class="jumbotron">
					    	<section class="row">
					    		<main class="col-sm-6">
									<div class="alert alert-warning" th:if="${param.logout}">
									  <strong>Warning!</strong> You have been logged out.
									</div>
									
									<div class="alert alert-danger" th:if="${param.error}">
									  <strong>Error!</strong> Invalid username and password.
									</div>
							        <form th:action="login" method="post">
								        <div class="form-group">
										    <label for="username">User Name :</label>
										    <input class="form-control" id="username" type="text" name="username"/>
										</div>
									 	<div class="form-group">
									    	<label for="pwd">Password:</label>
									    	<input type="password" class="form-control" id="pwd"  name="password"/>
									  	</div>
										<button type="submit" class="btn btn-default">Sign In</button>
							        </form>
						        </main>
					        </section>
				        </div>
			        </div>
		        </div>
		     </div>
        </div>
        <footer id="footer" class="footer hidden-print">
		    <div class="container sky">
		      <div class="row">
		        <div class="sky">
		          <div class="clouds_one"> </div>
		          <div class="clouds_two"></div>
		          <div class="clouds_three"></div>
		        </div>
		      </div>
		    </div>
		</footer>
    </body>
</html>